<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food order</title>
    <link rel="stylesheet" href="supp/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="supp/swiper/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="supp/jquery-nice-select/css/nice-select.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <!-- Preload -->
    <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    
<div id="main-wrapper">
        
    <!-- Header -->
    <%- include('partials/header') %>

    <!-- Sidebar -->
    <%- include('partials/sidebar') %>
    
    <!-- Navbar -->
    <%- include('partials/navbar') %>

    <!-- Main Content -->
<div class="content-body">
    <!-- row -->
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-xxl-12">
                <div class="row">
                    <div class="col-xl-4 col-sm-6 sp15">
                        <div class="card h-auto b-hover">
                            <div class="card-body px-3">
                                <div class="text-center">
                                    <h4>Order #1</h4>
                                    <p>Date, Year, Time</p>
                                </div>
                                <hr>
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <span>Delivery Time </span>
                                    <h6 class="mb-0">(number) min</h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>Distance</span>
                                    <h6 class="mb-0">(number) Km</h6>
                                </div>
                                <hr>
                                <div class="order-menu">
                                    <h6 class="font-w600">Order Menu</h6>
                                    <div class="d-flex align-items-center mb-2">
                                        <img class="me-2" src="<%= products[1].image %>" alt="">
                                        <div class="order-items">
                                            <h6 class="font-w500 text-nowrap mb-0"><a href="javascript:void(0);"><%= products[1].name %></a></h6>
                                            <p class="mb-0">x1</p>
                                        </div>
                                        <h6 class="text-primary mb-0 ms-auto"><%= products[1].price %>฿</h6>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img class="me-2" src="<%= products[0].image %>" alt="">
                                        <div class="order-items">
                                            <h6 class="font-w500 text-nowrap mb-0"><a href="javascript:void(0);"><%= products[0].name %></a></h6>
                                            <p class="mb-0">x1</p>
                                        </div>
                                        <h6 class="text-primary mb-0 ms-auto"><%= products[0].price %>฿</h6>
                                    </div>
                                    <hr>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <h4 class="mb-0">Total</h4>
                                        <h4 class="mb-0 text-primary">80฿</h4>
                                    </div>
                                    <a href="javascript:void(0);" class="btn btn-outline-success bgl-success btn-block">Completed</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 sp15">
                        <div class="card h-auto b-hover">
                            <div class="card-body px-3">
                                <div class="text-center">
                                    <h4>Order #2</h4>
                                    <p>Date, Year, Time</p>
                                </div>
                                <hr>
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <span>Delivery Time </span>
                                    <h6 class="mb-0">(number) min</h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>Distance</span>
                                    <h6 class="mb-0">(number) Km</h6>
                                </div>
                                <hr>
                                <div class="order-menu">
                                    <h6 class="font-w600">Order Menu</h6>
                                    <div class="d-flex align-items-center mb-2">
                                        <img class="me-2" src="<%= products[4].image %>" alt="">
                                        <div class="order-items">
                                            <h6 class="font-w500 text-nowrap mb-0"><a href="javascript:void(0);"><%= products[4].name %></a></h6>
                                            <p class="mb-0">x1</p>
                                        </div>
                                        <h6 class="text-primary mb-0 ms-auto"><%= products[4].price %>฿</h6>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img class="me-2" src="<%= products[3].image %>" alt="">
                                        <div class="order-items">
                                            <h6 class="font-w500 text-nowrap mb-0"><a href="javascript:void(0);"><%= products[3].name %></a></h6>
                                            <p class="mb-0">x1</p>
                                        </div>
                                        <h6 class="text-primary mb-0 ms-auto"><%= products[3].price %>฿</h6>
                                    </div>
                                    <hr>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <h4 class="mb-0">Total</h4>
                                        <h4 class="mb-0 text-primary">70฿</h4>
                                    </div>
                                    <a href="javascript:void(0);" class="btn btn-outline-primary bgl-primary btn-block">Delivery</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 sp15">
                        <div class="card h-auto b-hover">
                            <div class="card-body px-3">
                                <div class="text-center">
                                    <h4>Order #3</h4>
                                    <p>Date, Year, Time</p>
                                </div>
                                <hr>
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <span>Delivery Time </span>
                                    <h6 class="mb-0">(number) min</h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>Distance</span>
                                    <h6 class="mb-0">(number) Km</h6>
                                </div>
                                <hr>
                                <div class="order-menu">
                                    <h6 class="font-w600">Order Menu</h6>
                                    <div class="d-flex align-items-center mb-2">
                                        <img class="me-2" src="<%= products[3].image %>" alt="">
                                        <div class="order-items">
                                            <h6 class="font-w500 text-nowrap mb-0"><a href="javascript:void(0);"><%= products[3].name %></a></h6>
                                            <p class="mb-0">x1</p>
                                        </div>
                                        <h6 class="text-primary mb-0 ms-auto"><%= products[3].price %>฿</h6>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img class="me-2" src="<%= products[2].image %>" alt="">
                                        <div class="order-items">
                                            <h6 class="font-w500 text-nowrap mb-0"><a href="javascript:void(0);"><%= products[2].name %></a></h6>
                                            <p class="mb-0">x1</p>
                                        </div>
                                        <h6 class="text-primary mb-0 ms-auto"><%= products[2].price %>฿</h6>
                                    </div>
                                    <hr>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <h4 class="mb-0">Total</h4>
                                        <h4 class="mb-0 text-primary">90฿</h4>
                                    </div>
                                    <a href="javascript:void(0);" class="btn btn-outline-info bgl-info btn-block">Queue</a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-xl-4 col-xxl-12 sp30">
                <div class="card  dlab-position h-auto">
                    <div class="card-body px-3">
                        <div class="tracker-bx">
                            <h4 class="cate-title mb-4">Order Tracker</h4>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1588.0083648850978!2d98.95028775642935!3d18.800751665336527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30da3a6bf542deb3%3A0x85fbac3033920444!2z4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4Lio4Li04Lil4Lib4LiwIOC4quC4t-C5iOC4rSDguYHguKXguLDguYDguJfguITguYLguJnguYLguKXguKLguLUg4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LmA4LiK4Li14Lii4LiH4LmD4Lir4Lih4LmI!5e0!3m2!1sth!2sth!4v1677560561651!5m2!1sth!2sth" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <div>
                                <p class="fs-18">Your Address</p>
                                <div class="d-flex align-items-center mb-2">
                                    <svg  class="me-2" width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.4599 8.63C17.3195 7.16892 16.8031 5.76909 15.9611 4.56682C15.119 3.36456 13.98 2.40083 12.6549 1.7695C11.3298 1.13816 9.86376 0.860724 8.3996 0.964207C6.93543 1.06769 5.52301 1.54856 4.29988 2.36C3.24908 3.06265 2.36693 3.9893 1.71682 5.07339C1.06672 6.15749 0.664776 7.37211 0.539881 8.63C0.417363 9.87966 0.574555 11.1409 1.00005 12.3223C1.42555 13.5036 2.10868 14.5755 2.99988 15.46L8.29988 20.77C8.39284 20.8637 8.50344 20.9381 8.6253 20.9889C8.74716 21.0397 8.87787 21.0658 9.00988 21.0658C9.14189 21.0658 9.2726 21.0397 9.39446 20.9889C9.51632 20.9381 9.62692 20.8637 9.71988 20.77L14.9999 15.46C15.8911 14.5755 16.5742 13.5036 16.9997 12.3223C17.4252 11.1409 17.5824 9.87966 17.4599 8.63ZM13.5999 14.05L8.99988 18.65L4.39988 14.05C3.72197 13.3721 3.20268 12.5523 2.87935 11.6498C2.55601 10.7472 2.43667 9.7842 2.52988 8.83C2.6237 7.86111 2.93164 6.92516 3.43145 6.08985C3.93126 5.25453 4.61044 4.54071 5.41988 4C6.48083 3.29524 7.72619 2.9193 8.99988 2.9193C10.2736 2.9193 11.5189 3.29524 12.5799 4C13.3869 4.53862 14.0646 5.24928 14.5642 6.08094C15.0639 6.9126 15.3732 7.84461 15.4699 8.81C15.5661 9.76743 15.4483 10.7343 15.1249 11.6406C14.8014 12.5468 14.2805 13.3698 13.5999 14.05ZM8.99988 5C8.10986 5 7.23984 5.26392 6.49982 5.75839C5.75979 6.25286 5.18302 6.95566 4.84242 7.77793C4.50183 8.6002 4.41271 9.505 4.58635 10.3779C4.75998 11.2508 5.18856 12.0526 5.8179 12.682C6.44724 13.3113 7.24906 13.7399 8.12197 13.9135C8.99489 14.0872 9.89969 13.9981 10.722 13.6575C11.5442 13.3169 12.247 12.7401 12.7415 12.0001C13.236 11.26 13.4999 10.39 13.4999 9.5C13.4972 8.30734 13.0223 7.16428 12.1789 6.32094C11.3356 5.4776 10.1925 5.00265 8.99988 5ZM8.99988 12C8.50543 12 8.02208 11.8534 7.61096 11.5787C7.19983 11.304 6.8794 10.9135 6.69018 10.4567C6.50096 9.9999 6.45145 9.49723 6.54792 9.01228C6.64438 8.52733 6.88248 8.08187 7.23211 7.73224C7.58175 7.38261 8.0272 7.1445 8.51215 7.04804C8.99711 6.95158 9.49977 7.00109 9.95659 7.1903C10.4134 7.37952 10.8039 7.69996 11.0786 8.11108C11.3533 8.5222 11.4999 9.00555 11.4999 9.5C11.4999 10.163 11.2365 10.7989 10.7676 11.2678C10.2988 11.7366 9.66292 12 8.99988 12Z" fill="#4CB32B"/>
                                    </svg>
                                    <h4 class="mb-0 font-w700">Chiang Mai, 123/63</h4>
                                </div>
                                <p>Victoria sponge cake ridiculous fancy a cuppa scatterbrained conked him one on the nose it's just not cricket. </p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Footer -->
    <%- include('partials/footer') %>

</div>

    <!-- Scripts -->
    <script src="supp/global/global.min.js"></script>
    <script src="supp/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="supp/chart.js/chart.bundle.min.js"></script>
    <script src="supp/swiper/js/swiper-bundle.min.js"></script>
    <script src="supp/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="js/dlabnav-init.js"></script>
    <script src="js/custom.js"></script>
    
</body>
</html>